.retreat-bg-1 {
  background-image: url("/images/retreat_bg_1.png");
  background-position: center;
}

.retreat-bg-2 {
  background-image: url("/images/retreat_bg_2.png");
  background-position: center;
}

.retreat-bg-3 {
  background-image: url("/images/retreat_bg_3.png");
  height: 100svh !important;
  background-position: center;
  height: auto;
}

.retreat-overlay {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 0) 2.6%,
    rgba(0, 0, 0, 0.74) 58.85%
  );
}

.retreat-date {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 1.75rem;
  margin-top: 15px;
  text-align: center;
}

.btn-retreat-title-text {
  font-family: SF Pro Display Regular;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.btn-retreat {
  border-radius: 40px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 1.25rem;
  padding: 15px 45px;
  margin-top: 1rem;
}

.retreat-2-text-1,
.retreat-3-text-1 {
  color: #000;
  font-family: "Sorren Black";
  font-size: 3.75rem;
  text-align: center;
}

.retreat-2-text-2 {
  color: #000;
  font-family: "SF Pro Display";
  font-size: 1.063rem;
  text-align: center;
}

.retreat-3-text-1 {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #fff;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.collapse-container {
  border-radius: 8px;
  background: #fff;
}

.collapse-container {
  margin: 0px 35px;
}

.collapse-header {
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* margin-bottom: 20px; */
  color: #000;
  font-family: "SF Pro Display";
  font-size: 1.063rem;
}

.collapse-content {
  color: #000;
  font-family: "SF Pro Display Regular";
  font-size: 0.938rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.arrow-icon {
  object-fit: contain;
  height: 10px;
  margin: auto 0;
}

.cycid-text {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 0.875rem;
  margin-top: 36px;
}

.input-cycid,
.input-cycid:focus,
.input-cycid:active,
.input-cycid:hover {
  margin-top: 16px;
  margin-bottom: 32px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  color: #737373;
  font-family: "SF Pro Display";
  font-size: 0.875rem;
  padding-left: 20px;
}

.mt-75 {
  margin-top: 75px;
}

.mb-75 {
  margin-bottom: 75px;
}

button.activated {
  background-image: linear-gradient(
    90deg,
    #c465ef 0%,
    #f7d2c9 33%,
    #f6829f 66%,
    #c465ef 100%
  );
  animation: slidebg 10s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.full {
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.popup {
  border: 1px solid #000;
  /* backdrop-filter: blur(16px); */
  padding: 50px;
  max-width: 350px;
  border-radius: 40px;
  width: 100%;
  max-height: 90%;
  overflow-y: scroll;
  /* height: 100%; */
  background: #fff;
  /* filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08)); */
}

.mt-0 {
  margin-top: 0 !important;
}

.btn-retreat.secondary {
  background: transparent;
  border: 0;
  color: black;
  padding: 15px 10px;
}

select option {
  width: 200px !important;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  text-align: end;
  font-family: sans-serif;
}

.kids-container {
  border-radius: 20px;
  padding: 15px;
  border: 1px dotted #303030;
  margin-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #fff;
}

.btn-kids {
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 40px;
  background: #21416d;
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 18px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

input {
  background: #fff;
}
