.input-text {
    color: #173965;
    font-size: 1.125rem;
    font-family: "SF Pro Display";
    font-weight: 800;
    margin-top: 20px;
}

input,
select,
input:focus,
select:focus {
    margin-top: 10px;
    width: 235px;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    color: #737373;
    font-size: 0.938rem;
    font-family: "SF Pro Display";
    font-weight: 400;
}

select {
    width: 245px;
}

.input-error {
    border-color: red;
}

.input-error {
    color: red;
    font-size: 0.75rem;
    font-family: "SF Pro Display";
    font-weight: 400;
    padding-top: 2px;
    padding-left: 10px;
}

@media (max-height: 843px) {
    label {
        font-size: 1rem !important;
        margin-top: 0px;
    }

    .input-text {
        margin-top: 10px;
    }

    input,
    select,
    input:focus,
    select:focus {
        margin-top: 5px;
        height: 30px;
    }

    select,
    select:focus {
        height: 34px !important;
    }

    .btn-submit,
    .btn-submit:focus,
    .btn-submit:active {
        height: 75px;
        padding: 15px 0px;
    }

    #submission-container {
        padding-top: 15px;
    }

    #submission-form {
        margin-top: 0px;
    }
}

.react-confirm-alert-body{
    width: 60vw  !important;
    font-family: FZChaoCuHei !important;
}

.react-confirm-alert-button-group {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}