@font-face {
  font-family: FZChaoCuHei;
  src: url("./fonts/FZCCHJW.TTF");
}

@font-face {
  font-family: HYZhuZiChangMeiXin;
  src: url("./fonts/汉仪铸字美心繁体.ttf");
}

@font-face {
  font-family: Microsoft JhengHei;
  src: url("./fonts/msjh.ttc");
}

@font-face {
  font-family: SF Pro Display;
  src: url("./fonts/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family: Sorren Black;
  src: url("./fonts/Sorren Black.otf");
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  margin: 0;
  color: #fff;
  /* overflow: hidden; */
}

section {
  position: relative !important;
  display: inline-block !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
  /* overflow: hidden; */
  /* height: calc(100vh - constant(safe-area-inset-top)); */
  /* height: calc(100vh - env(safe-area-inset-top)); */
}

.fp-watermark {
  display: none !important;
}
.fp-overflow {
  height: 100% !important;
  display: flex !important;
  align-items: center;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    rgba(0, 0, 0, 0.99) 99.99%,
    #f4f4f4 100%
  );
  background-blend-mode: multiply;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 3.4rem;
  font-family: HYZhuZiChangMeiXin;
  font-weight: 300;
}

h2 {
  margin: 0;
  font-size: 1.875rem;
  font-family: SF Pro Display;
}

h5 {
  margin: 0;
  font-size: 1.3rem;
  font-family: FZChaoCuHei;
}

h6 {
  margin: 0;
  font-size: 0.9rem;
  font-family: Microsoft JhengHei;
  font-weight: 300;
}
button {
  cursor: pointer !important;
}

/* button,
button:hover,
button:focus,
button:active {
  cursor: pointer;
}
    border: none;
    border-radius: 30px;
    background-color: #fff;
    color: #193a66;
    padding: 25px 70px;
    font-size: 1.3rem;
    font-family: FZChaoCuHei;
    cursor: pointer;
} */

.FZChaoCuHei {
  font-family: FZChaoCuHei;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-15 {
  margin-top: 15px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-75 {
  margin-bottom: 75px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.padding-y-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.font-weight-400 {
  font-weight: 400;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.capitalize {
  color: #303030;
  font-size: 14px;
  font-family: SF Pro Display;
  text-transform: capitalize;
}

.register-field {
  outline: none;
  border-bottom: 2px solid #303030 !important;
  border: 0px;
  margin-top: 3px;
  font-size: 18px;
  font-family: SF Pro Display;
  letter-spacing: 0.5px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
